{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}

    <div class="media boxSeason">
    {% for episode in episodes %}
        <div class="media-body boxByEpisode">
            <h1 class="mt-0">{{ episode.title }}</h1>
            <p>{{ episode.synopsis }}</p>
        </div>

    {% endfor %}
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}