{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}

    <div class="media boxSeason">
    {% for episode in episodes %}
        <div class="media-body boxByEpisode">
            <h1 class="mt-0">
                <a href="/wild/episode/{{ episode.id }}">
                    {{ episode.title }}
                </a>
            </h1>
        </div>

    {% endfor %}
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}